[*]
charset=utf-8
end_of_line=crlf
trim_trailing_whitespace=false
insert_final_newline=true

# Indentation and spacing
indent_size=4
indent_style=space
tab_width=4

[*.cs]

### Copyright Headers 
file_header_template = Copyright (c) Duende Software. All rights reserved.\nSee LICENSE in the project root for license information.
dotnet_diagnostic.IDE0073.severity = warning

### Using Statements
dotnet_diagnostic.IDE0005.severity = warning # No unused usings
dotnet_sort_system_directives_first = false
dotnet_separate_import_directive_groups = false
csharp_using_directive_placement = outside_namespace:warning

### File scope namespaces are required
dotnet_diagnostic.IDE0161.severity = warning
csharp_style_namespace_declarations = file_scoped
