[*.cs]
dotnet_diagnostic.IDE0010.severity = suggestion # Populate switch
dotnet_diagnostic.IDE0017.severity = suggestion # Use object initializers
dotnet_diagnostic.IDE0029.severity = suggestion # Null check can be simplified (ternary conditional check)
dotnet_diagnostic.IDE0030.severity = suggestion # Null check can be simplified (nullable ternary conditional check)
dotnet_diagnostic.IDE0045.severity = suggestion # 'if' statement can be simplified
dotnet_diagnostic.IDE0066.severity = suggestion # Use 'switch' expression
dotnet_diagnostic.IDE0072.severity = suggestion # Populate switch
dotnet_diagnostic.IDE0270.severity = suggestion # Null check can be simplified (if null check)
dotnet_diagnostic.IDE0290.severity = suggestion # Use primary constructor
dotnet_diagnostic.IDE1006.severity = suggestion # Naming Styles
dotnet_style_namespace_match_folder = false   # Disabled because changing namespaces is a breaking change
csharp_prefer_system_threading_lock = false   # Disabled because we need to support .net 8
