[*.cs]
dotnet_diagnostic.IDE0290.severity = suggestion # Use primary constructor
dotnet_diagnostic.IDE1006.severity = suggestion # Naming Styles
dotnet_style_namespace_match_folder = false   # Disabled because changing namespaces is a breaking change
