@model Duende.IdentityServer.Licensing.LicenseUsageSummary

<div class="card h-100">
    <div class="card-body">
        <h5 class="card-title">
            <i class="bi bi-award-fill me-2"></i>
            License
        </h5>
        <p class="display-4 mb-0 text-center">
            @Model.LicenseEdition
        </p>
    </div>
</div>
