@page
@model IdentityServerHost.Pages.Portal.Index

<div class="container-fluid mb-4 px-0">
    <div class="d-flex justify-content-between align-items-center bg-body-tertiary rounded shadow-sm p-2 flex-nowrap">

        <!-- Page title -->
        <nav aria-label="breadcrumb" class="mb-0 ms-2">
            <ol class="breadcrumb mb-0 p-0 fs-5">
                <li class="breadcrumb-item active" aria-current="page">Client Application Portal</li>
            </ol>
        </nav>

    </div>
</div>

<div class="lead">
    <p>
        This portal contains links to client applications that are configured with an InitiateLoginUri, which enables
        <a href="https://openid.net/specs/openid-connect-core-1_0.html#ThirdPartyInitiatedLogin">third-party initiated login</a>.
    </p>
</div>

@if (!Model.Clients.Any())
{
    <div class="alert">
        You do not have any clients configured with an InitiateLoginUri.
    </div>
}

<ul class="list-group">
    @foreach (var client in Model.Clients)
    {
        <li class="list-group-item">
            <a href="@client.InitiateLoginUri">@client.LinkText</a>
        </li>
    }
</ul>
