@page
@model IdentityServerHost.Pages.Home.Index

<div class="container-fluid pb-4">

    <div>
        <h1 class="h1 d-inline">Welcome to Duende IdentityServer</h1>
        <span class="badge text-bg-secondary">Version @Model.Version</span>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <h2 class="my-3">System Information</h2>
            <div class="row g-4">
                <!-- Clients -->
                <div class="col-md-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">
                                <i class="bi bi-people-fill me-2"></i>
                                Clients
                            </h5>
                            <p class="display-4 mb-3 text-center">3</p>
                            <a href="/admin/clients" class="btn btn-primary btn-sm float-end">Configure</a>
                        </div>
                    </div>
                </div>
                <!-- API Scopes -->
                <div class="col-md-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">
                                <i class="bi bi-shield-lock-fill me-2"></i>
                                API Scopes
                            </h5>
                            <p class="display-4 mb-3 text-center">3</p>
                            <a href="/admin/apiscopes" class="btn btn-primary btn-sm float-end">Configure</a>
                        </div>
                    </div>
                </div>
                <!-- Identity Scopes -->
                <div class="col-md-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">
                                <i class="bi bi-person-badge-fill me-2"></i>
                                Identity Scopes
                            </h5>
                            <p class="display-4 mb-3 text-center">3</p>
                            <a href="/admin/identityscopes" class="btn btn-primary btn-sm float-end">Configure</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row g-4 mt-1">
                <!-- Database Info -->
                <div class="col-md-6">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">
                                <i class="bi bi-database-fill me-2"></i>
                                Database Info
                            </h5>
                            <p class="display-4 mb-0 text-center">SQLite</p>
                        </div>
                    </div>
                </div>
                <!-- License -->
                <div class="col-md-6">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">
                                <i class="bi bi-award-fill me-2"></i>
                                License
                            </h5>
                            <p class="display-4 mb-0 text-center">Trial</p>
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="my-3">Operational Information</h2>
            <div class="row g-4">
                <!-- Serverside Sessions -->
                <div class="col-md-6">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">
                                <i class="bi bi-server me-2"></i>
                                Serverside Sessions
                            </h5>
                            <p class="display-4 mb-3 text-center">3</p>
                            <a href="/serversidesessions" class="btn btn-primary btn-sm float-end">Manage</a>
                        </div>
                    </div>
                </div>
                <!-- CIBA Requests -->
                <div class="col-md-6">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">
                                <i class="bi bi-bell-fill me-2"></i>
                                CIBA Requests
                            </h5>
                            <p class="display-4 mb-3 text-center">3</p>
                            <a href="/ciba/all" class="btn btn-primary btn-sm float-end">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 d-flex flex-column">
            <h2 class="my-3">Discovery Document</h2>
            <div class="card flex-grow-1">
                <div class="card-body p-3 overflow-auto" style="max-height: 600px;">
                    <pre class="mb-0">
{
  "issuer": "https://localhost:5001",
  "jwks_uri": "https://localhost:5001/.well-known/openid-configuration/jwks",
  "authorization_endpoint": "https://localhost:5001/connect/authorize",
  // … more JSON …
}
                    </pre>
                </div>
            </div>
        </div>
    </div>
</div>
