@page
@model IdentityServerHost.Pages.Home.Index

<div class="p-3 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
        <h1 class="h1 d-inline">Welcome to Duende IdentityServer</h1>

        <p class="col-md-8 fs-4">
          This is a demonstration landing homepage. This is what all users will see when they arrive at the root of this site.
        </p>
    </div>
</div>
